<td>
	{{transcation.from.name}}
</td>
<td>
	{{input type="checkbox" checked=transcation.isSelected}}
</td>
<td>
	<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
</td>
<td>
	{{transcation.amount}}
</td>
<td>
	<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
</td>
<td>{{transcation.to.name}}</td>
